.adresse{
    background-color: #007179;
    padding: 15px;

}

.formation{
    background-color: #B12A50;
    padding: 15px;

}

.projet{
    background-color: #007179;
    padding: 15px;

}

.hardskill{
    background-color: #B12A50;
    padding: 15px;

}

.softskill{
    background-color: #007179;
    padding: 15px;

}

.logo {

}